@import "../../../../assets/styles/colors.scss";
@import "../../../../assets/styles/sizes.scss";

.link {
    color: $link;
    font-weight: 400;
    font-size: $p12;
    text-decoration: underline;
    cursor: pointer;
}