$primary-color: #1E1E1E;
$secondary-color: #11762C;

$icons-color-primary: #34A853;
$icons-color-seconday: #BE0404;

$error: #BE0404;

$white: #FFFFFF;
$black: #000000;
$light-gray: rgba(187, 187, 187, 0.205);

$link: #4285F4;